block tableLineas
	div.table-responsive.containerLineas
		table.table
			thead
				tr
					th
						h3 Lineas
					th
						button.btn.btn-success(type='button') Crear Linea
				tr
					th
						| Numero
					th
						| Opciones
			tbody
				each linea, index in lineas
					tr
						td
							p #{linea.number}
						td
							button.btn.btn-primary(type="button", data-id = linea.idLinea, onClick = "irLinea(" + linea.idLinea + "," + linea.number + ")")
								| Ver
							button.btn.btn-danger(type='button', data-id = linea.idLinea, onClick = "eliminarLinea(" + linea.idLinea + ")")
								| Eliminar