div.table-responsive.containerLote
	table.table
		thead
			tr
				th
					h3 Lotes
				th
					button.btn.btn-success(type='button', onClick= "newLote("+ session.finca.id+")") Crear Lote
			tr
				th
					| Numero
				th
					| Opciones
		tbody
			-if(lotes){
				each lote, index in lotes
					tr
						td
							p #{lote.numero}
						td
							button.btn.btn-primary(type="button", data-id = lote.id, onClick = "irLote('" + lote.id + "')")
								| Ver
							button.btn.btn-danger(type='button', data-id = lote.id, onClick = "eliminarLote('" + lote.id + "')")
								| Eliminar
			-}
