extends layout.pug
block head
	script(src="/public/js/newLote.js")
block navegacion
	include nav.pug
block contenedor
	h1 Finca #{session.finca.name}
	h2
		p.text-center
			| Registrar nuevo lote
	block formulario
		include formularios/lote.pug
