doctype html
html(lang='es') 
  head
    meta(charset='utf-8')
    title Palma
    link(rel='stylesheet', type='text/css', media='screen', href='/public/bootstrap/dist/css/bootstrap.min.css')
    script(src="/public/js/jquery/dist/jquery.min.js")
    block head
  body
    header
      block navegacion
    #container
      block contenedor