nav.navbar.navbar-default
    .container-fluid
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        a.navbar-brand(href='#') Palms
      // Collect the nav links, forms, and other content for toggling
      #navBarBootstrap
        ul.nav.navbar-nav
          if session
            if 'Inicio' == pagekey
              li.active: a(href='/')= 'Inicio'
            else
              li: a(href='/')= 'Inicio'
            
            //- if 'Lotes' == pagekey
            //-   li.active: a(href='/lotes')= 'Lotes'
            //- else
            //-   li: a(href='/lotes')= 'Lotes'

        if session    
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/logout') Cerrar Session          