block formulario
	form(role='form')
		.form-group
			label(for='numeroNewLinea') Numero
			input#numeroNewLinea.form-control(type='text', required="", placeholder='Introduce el numero de la nueva linea')
		.form-group
			button.btn.btn-primary(type='submit', onSubmit="return false;" , onClick="createLinea()") Registrar
			button(onClick="volver("+loteId+")").btn.btn-default
				|Volver
