block formulario
	form(role='form')
		.form-group
			label(for='numeroNewLinea') Numero
			input#numeroNewLinea.form-control(type='email', placeholder='Introduce el numero del nuevo lote')
		.form-group
			button.btn.btn-primary(type='submit', onSubmit="return false;" , onClick="createLinea()") Registrar