block formulario
	form(role='form')
		.form-group
			label(for='numeroNewLote') Numero
			input#numeroNewLote.form-control(type='text', required="", placeholder='Introduce el numero del nuevo lote')
		.form-group
			button.btn.btn-primary(type='submit', onSubmit="return false;" , onClick="createLote()") Registrar
			button(onClick="window.location.href = '/'").btn.btn-default
				|Volver
